

body{
	
	 margin: 0;
	
}

#topbar{
	
	  background-color: lightblue;
	  padding: 24px 48px;
	
}

.menu-item:link{
	    
		color:blue;
		
}

.menu-item:hover{
	
	   color: green;
	
	
}

.menu-item:active{
	  
	  
	
	
	
}
